@charset "UTF-8";
@font-face {
  font-family: 'lite-editor-fonts-20161209';
  src: url("../fonts/lite-editor-fonts-20161209.eot?d39wrm");
  src: url("../fonts/lite-editor-fonts-20161209.eot?d39wrm#iefix") format("embedded-opentype"), url("../fonts/lite-editor-fonts-20161209.ttf?d39wrm") format("truetype"), url("../fonts/lite-editor-fonts-20161209.woff?d39wrm") format("woff"), url("../fonts/lite-editor-fonts-20161209.svg?d39wrm#lite-editor-fonts-20161209") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="lite-editor-font"], [class*=" lite-editor-font"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'lite-editor-fonts-20161209' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #7A7676;
}

.lite-editor-font-back:before {
  content: "\e900";
}

.lite-editor-font-go:before {
  content: "";
}

.lite-editor-font-bold:before {
  content: "";
}

.lite-editor-font-italic:before {
  content: "";
}

.lite-editor-font-underline:before {
  content: "";
}

.lite-editor-font-link:before {
  content: "";
}

.lite-editor-font-source:before {
  content: "";
}

.lite-editor-font-remove:before {
  content: "";
}

.lite-editor-font-update:before {
  content: "";
}

.lite-editor-font-close:before {
  content: "";
}

.lite-editor-font-abc:before {
  content: "";
}

.lite-editor,
.lite-editor-source {
  min-height: 32px;
  border: 1px solid #CCC;
  background-color: #FFF;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 13px;
  line-height: 1.7;
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

.lite-editor:focus,
.lite-editor-source:focus {
  outline: none;
}

.lite-editor img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.lite-editor a {
  text-decoration: underline;
  color: #337AB7;
}

.lite-editor-btn-group {
  border-collapse: separate;
  display: inline-table;
  padding: 7px 10px;
  padding-left: 0;
}

.lite-editor-btn-group-wrap {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
}

.lite-editor-btn-group-wrap-right {
  vertical-align: middle;
  display: block;
  float: right;
}

.lite-editor-btn-group-wrap-right .lite-editor-btn {
  width: 44px;
}

.lite-editor-btn-group-wrap-right .lite-editor-btn-active {
  background: #65B9FF;
  opacity: 1;
  border: 1px solid #A2ADB9;
  box-shadow: inset 1px 1px 6px 0 rgba(0, 0, 0, 0.3);
  color: #FFF;
}

.lite-editor-btn-group-wrap-right .lite-editor-btn-active [class^=lite-editor-font] {
  color: #FFF;
}

.lite-editor-btn-group-wrap-right .lite-editor-font-abc:before {
  font-size: 10px;
}

.lite-editor-btn,
.lite-editor-btn-active {
  background-color: #FFF;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  line-height: 1;
  color: #7A7676;
  display: table-cell;
  border-left: none;
  border: 1px solid #CCC;
  font-size: 12px;
  padding: 3px 5px;
  border-radius: 3px;
  display: table-cell;
  height: 28px;
  margin: 0;
  cursor: pointer;
}

.lite-editor-btn-close {
  padding: 1px 6px;
  line-height: 1;
  vertical-align: middle;
}

.lite-editor-btn-close-wrap {
  float: right;
  text-align: center;
  display: block;
  font-size: 14px;
  color: #7A7676;
  margin-right: 10px;
  margin-top: 10px;
}

.lite-editor-btn-close-label {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 5px;
}

.lite-editor-btn:disabled {
  pointer-events: none;
  opacity: .65;
  filter: alpha(opacity=65);
  box-shadow: none;
}

.lite-editor-btn-active {
  border: 1px solid #CCC;
  background-color: #e1e1e1;
  box-shadow: inset 0 1px 2px #b2b2b2;
  color: #333;
  text-decoration: none;
}

.lite-editor-btn-group .lite-editor-btn {
  border-right: none;
  border-radius: 0;
}

.lite-editor-btn-group .lite-editor-btn:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.lite-editor-btn-group .lite-editor-btn:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: 1px solid #CCC;
}

.lite-editor-select {
  -webkit-appearance: button;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #CCC;
  border-radius: 3px;
  background-color: #CCC;
  text-decoration: none;
  text-align: center;
  background-repeat: no-repeat;
  color: #333;
  padding-right: 20px\9;
  background-color: #f0f0f0;
  text-align: left;
  min-height: 27px;
  padding: 5px 30px 5px 10px;
  margin-right: 10px;
  font-size: 11px;
  line-height: 1.2;
}

.lite-editor-select-wrap {
  display: inline-block;
  vertical-align: middle;
}

.lite-editor-toolbox {
  background-color: #f0f0f0;
  border: 1px solid #CCC;
  padding-right: 5px;
  padding-left: 5px;
  border-bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.lite-editor + .lite-editor-toolbox {
  border-top: 0;
  border-bottom: 1px solid #CCC;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.lite-editor-tooltip-wrap {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.lite-editor-tooltip-outer {
  display: table;
  width: 100%;
  height: 100%;
}

.lite-editor-tooltip-inner {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.lite-editor-tooltip {
  max-width: 500px;
  margin: auto;
  top: 30%;
  border: 1px solid #CCC;
  background-color: #FFF;
  border-radius: 5px;
  z-index: 1;
}

.lite-editor-tooltip-title {
  font-weight: normal;
  font-size: 18px;
  margin: 0;
  background-color: #f0f0f0;
  padding: 10px;
  color: #7A7676;
}

.lite-editor-tooltip-title [class^=lite-editor-font] {
  margin-right: 12px;
}

.lite-editor-tooltip-body {
  padding: 10px 10px 5px 10px;
}

.lite-editor-tooltip-body * {
  box-sizing: border-box;
}

.lite-editor-tooltip-table {
  width: 100%;
  font-size: 14px;
}

.lite-editor-tooltip-table th {
  width: 80px;
}

.lite-editor-tooltip-table th,
.lite-editor-tooltip-table td {
  font-weight: normal;
  text-align: left;
  padding: 5px;
  font-size: 13px;
  color: #7A7676;
}

.lite-editor-tooltip-table .lite-editor-btn {
  width: 90px;
  text-align: center;
  font-size: 14px;
  margin-right: 20px;
}

.lite-editor-tooltip-table [class^=lite-editor-font] {
  vertical-align: middle;
  margin-right: 5px;
}

.lite-editor-tooltip-input {
  border-radius: 3px;
  padding: 5px;
  border: 1px solid #CCC;
  width: 100%;
  font-size: 16px;
  color: #7A7676;
}

.lite-editor-extend-input {
  margin-right: 10px;
  border-radius: 3px;
  padding: 5px;
  border: 1px solid #CCC;
  width: 100px;
  vertical-align: middle;
}

.lite-editor-btn .lite-editor-font-back,
.lite-editor-btn .lite-editor-font-go {
  color: #333;
}

.lite-editor-btn[disabled] .lite-editor-font-back,
.lite-editor-btn[disabled] .lite-editor-font-go {
  color: #7A7676;
}
