.minieditor,
.minieditor-source {
  min-height: 100px;
  width: 100%;
  border: 1px solid #CCC;
  border-radius: 5px;
  display: block;
}

.minieditor-btn-group {
  display: table;
  float: left;
  padding: 7px 10px;
  padding-left: 0;
}

.minieditor-btn,
.minieditor-btn-active {
  border-radius: 3px;
  background-color: #f2f2f2;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  line-height: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#ffe1e1e1', GradientType=0);
  background-image: -moz-linear-gradient(top, #f9f9f9, #e1e1e1);
  background-image: -ms-linear-gradient(top, #f9f9f9, #e1e1e1);
  background-image: -o-linear-gradient(top, #f9f9f9, #e1e1e1);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f9f9f9), to(#e1e1e1));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #e1e1e1);
  background-image: linear-gradient(top, #f9f9f9, #e1e1e1);
  color: #333333;
  display: table-cell;
  border-left: none;
  border: 1px solid #a7a7aa;
  font-size: 12px;
  padding: 3px 5px;
  border-radius: 0;
  display: table-cell;
  height: 28px;
  border-right: none;
}

.minieditor-btn-active {
  border: 1px solid #aaa;
  background-color: #e1e1e1;
  box-shadow: inset 0 1px 2px #b2b2b2;
  color: #333;
  text-decoration: none;
}

.minieditor-btn:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.minieditor-btn:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: 1px solid #a7a7aa;
}
