.lite-editor,
.lite-editor-source {
  min-height: 32px;
  border: 1px solid #CCC;
  background-color: #FFF;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 13px;
  line-height: 1.7;
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  &:focus {
	outline: none;
  }
}

.lite-editor img {
	max-width: 100%;
	width: auto;
	height: auto;
}

.lite-editor a {
	text-decoration: underline;
	color: #337AB7;
}

.lite-editor-btn-group {
	display: inline-table;
	padding: 7px 10px;
	padding-left: 0;
}

.lite-editor-btn-group-wrap {
	display: inline-block;
	vertical-align: middle;
}

.lite-editor-btn,
.lite-editor-btn-active {
	background-color: #FFF;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	line-height: 1;
	color: #333333;
	display: table-cell;
	border-left: none;
	border: 1px solid #a7a7aa;
	font-size: 12px;
	padding: 3px 5px;
	border-radius: 3px;
	display: table-cell;
	height: 28px;
	margin: 0;
}

.lite-editor-btn-close {
	float: right;
	padding: 5px 10px;
	margin-right: 3px;
	margin-top: 3px;
}

.lite-editor-btn:disabled {
  pointer-events: none;
  opacity: .65;
  filter: alpha(opacity=65);
  box-shadow: none;
}

.lite-editor-btn-active {
	border: 1px solid #aaa;
	background-color: #e1e1e1;
	box-shadow: inset 0 1px 2px #b2b2b2;
	color: #333;
	text-decoration: none;
}

.lite-editor-btn-group {
	.lite-editor-btn {
		border-right: none;
		border-radius: 0;
	}
	.lite-editor-btn:first-child {
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}
	
	.lite-editor-btn:last-child {
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		border-right: 1px solid #a7a7aa;
	}
}

.lite-editor-select {
    -webkit-appearance: button;
	display: inline-block;
	vertical-align: middle;
    border: 1px solid #a7a7aa;
    border-radius: 3px;
    background-color: #ccc;
    text-decoration: none;
    text-align: center;
    background-color: #e1e1e1;
    background-repeat: no-repeat;
    color: #333;
    padding-right: 20px\9;
    background-color: #f0f0f0;
    text-align: left;
	min-height: 27px;
    padding: 5px 30px 5px 10px;
	margin-right: 10px;
    font-size: 11px;
    line-height: 1.2;
}

.lite-editor-select-wrap {
	display: inline-block;
	vertical-align: middle;
}

.lite-editor-toolbox {
	background-color: #f0f0f0;
	border: 1px solid #CCC;
	padding-right: 5px;
	padding-left: 5px;
	border-bottom: 0;
}

.lite-editor + .lite-editor-toolbox {
	border-top: 0;
	border-bottom: 1px solid #CCC;
}

.lite-editor-tooltip-wrap {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .3);
}

.lite-editor-tooltip-outer {
	display: table;
	width: 100%;
	height: 100%;
}

.lite-editor-tooltip-inner {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.lite-editor-tooltip {
	max-width: 500px;
	margin: auto;
	top: 30%;
	border: 1px solid #CCC;
	background-color: #FFF;
	border-radius: 5px;
	z-index: 1;
}

.lite-editor-tooltip-title {
	font-weight: normal;
	font-size: 16px;
	margin: 0;
    background-color: #f0f0f0;
	padding: 5px 15px;
	border-bottom: 1px solid #aaa;
}

.lite-editor-tooltip-body {
	padding: 10px;
	* {
		box-sizing: border-box;
	}
}

.lite-editor-tooltip-table {
	width: 100%;
	th {
		width: 80px
	}
	th,
	td {
		font-weight: normal;
		text-align: left;
		padding: 5px;
		font-size: 13px;
	}
}

.lite-editor-tooltip-input {
	border-radius: 3px;
	padding: 5px;
	border: 1px solid #CCC;
	width: 100%;
}

.lite-editor-extend-input {
	margin-right: 10px;
	border-radius: 3px;
	padding: 5px;
	border: 1px solid #CCC;
	width: 100px;
	vertical-align: middle;
}