$icomoon-font-path: "../fonts" !default;

$lite-editor-font-back: "\e900";
$lite-editor-font-go: "\e901";
$lite-editor-font-bold: "\e902";
$lite-editor-font-italic: "\e903";
$lite-editor-font-underline: "\e904";
$lite-editor-font-link: "\e905";
$lite-editor-font-source: "\e906";
$lite-editor-font-remove: "\e907";
$lite-editor-font-update: "\e908";
$lite-editor-font-close: "\e909";
$lite-editor-font-abc: "\e90a";

$lite-editor-font-color: #7A7676;
$lite-editor-btn-color: #7A7676;
$lite-editor-btn-active-color: #333;
$lite-editor-border-color: #CCC;
$lite-editor-border-active-color: #CCC;